@media print {
  body {
    background: none !important;
  }

  .print-hide {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
    visibility: visible !important;
  }

  .dialog-content {
    overflow: visible !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
  }
}

.print-only {
  display: none !important;
}
