@media print {
  body {
    background: none;
  }

  .print-hide {
    display: none !important;
  }

  .report-printable-area, .report-printable-area * {
    visibility: visible;
  }
  
  .report-printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    border: none !important;
    background: white !important;
    color: black !important;
    box-shadow: none;
  }
}

.print-hide {
  display: revert;
}

@media print {
  .print-hide {
    display: none;
  }
}
