@media print {
  body {
    background: none !important;
  }

  .print-hide {
    display: none !important;
  }

  /* Oculta el botón de cierre del diálogo de ShadCN */
  [role="dialog"] > button[aria-label="Close"],
  [role="dialog"] > button[data-state="open"] {
      display: none !important;
  }

  #printable-receipt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1.5rem;
    box-shadow: none;
    border: none;
    font-size: 14px;
  }
}
