@media print {
  body {
    background: none;
  }

  /* Ocultar todo lo que esté marcado para no imprimirse */
  .print-hide {
    display: none !important;
  }

  /* Asegurarse de que el contenedor del contenido imprimible no restrinja a su hijo */
  .printable-content-container {
    display: contents; /* Esto hace que el contenedor se comporte como si no estuviera, permitiendo que el hijo se expanda */
  }

  /* Hacer que el área de impresión sea el único contenido visible */
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: none !important;
    box-shadow: none !important;
    background: white !important;
    color: black !important;
  }

  /* Quitar el fondo del diálogo para que no aparezca en la impresión */
  .bg-white.text-black {
    background: transparent !important;
    color: black !important;
  }

  /* Márgenes para la página impresa */
  @page {
    margin: 1in;
    size: letter;
  }
}
