
.print-only {
  position: absolute;
  left: -9999px;
}

@media print {
  .print-hide {
    display: none !important;
  }
  
  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block !important;
  }
}
